body {
  font-family: sans-serif;
  background-color: #f3f0fa;
  margin: 0;
  overscroll-behavior: contain;
}

.game-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.title {
  text-align: center;
  color: #1f0c44;
  height: 10vh;
}

.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  min-width: 90vw;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 10vh;
  color: #1f0c44;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}

.input {
  height: 1.5rem;
  width: 40vw;
  outline: none;
}

.username,
.start,
.rock,
.paper,
.scissors {
  height: 1.9rem;
  background-color: #fab26e;
  color: #1f0c44;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.username:hover,
.start:hover,
.rock:hover,
.paper:hover,
.scissors:hover {
  background-color: #1f0c44;
  color: #fab26e;
  transform: scale(1.05);
}

.start:disabled,
.rock:disabled,
.paper:disabled,
.scissors:disabled,
.username:disabled {
  background-color: grey;
  color: #f3f0fa;
}
.add-button {
  height: 1.9rem;
  background-color: #fab26e;
  color: #1f0c44;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}
.add-button:hover {
  background-color: #1f0c44;
  color: #fab26e;
  transform: scale(1.05);
}

h2,
h3 {
  color: #1f0c44;
}

.player1 {
  transform: rotateY(180deg);
}

/* waiting room css */
.room {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  transform: translateX(0%);
}
.room-closed {
  transform: translateX(100%);
}

.list {
  list-style: none;
  text-align: left;
  margin: 0;
  width: 14rem;
  height: 100%;
  line-height: 2;
  font-weight: 700;
  padding: 0;
  background-color: rgba(85, 69, 95, 0.5);
}

.list-itm {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 0.5rem;
  align-items: center;
}

.list-itm:nth-child(2n) {
  background-color: rgba(85, 69, 95, 0.3);
}

.list-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-to-play,
.call-to-quit {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #fab26e;
  color: #1f0c44;
  padding: 0.3rem;
  font-weight: bold;

}

.call-to-play:hover,
.call-to-quit:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
  box-shadow: 5px 5px 5px rgba(85, 69, 95, 0.3);
}

@media screen and (max-width: 550px) {
  form {
    display: flex;
    align-items: center;
  }
  .player1,
  .player2 {
    width: 50vw;
  }
  h3,
  h2 {
    padding: 0 0.5rem 0 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
  }
  .options {
    width: 80vw;
  }
  .title {
    min-width: 90vw;
  }
  h1 {
    font-size: 1.5rem;
  }
}
