body {
  font-family: sans-serif;
  background-color: #f3f0fa;
  margin: 0;
  overscroll-behavior: contain;
}

.game-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.title {
  text-align: center;
  color: #1f0c44;
  height: 10vh;
}

.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  min-width: 90vw;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 10vh;
  color: #1f0c44;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}

.input {
  height: 1.5rem;
  width: 40vw;
  outline: none;
}

.username,
.start,
.rock,
.paper,
.scissors {
  height: 1.9rem;
  background-color: #fab26e;
  color: #1f0c44;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.username:hover,
.start:hover,
.rock:hover,
.paper:hover,
.scissors:hover {
  background-color: #1f0c44;
  color: #fab26e;
  transform: scale(1.05);
}

.start:disabled,
.rock:disabled,
.paper:disabled,
.scissors:disabled {
  background-color: grey;
  color: #f3f0fa;
}
.add-button {
  height: 1.9rem;
  background-color: #fab26e;
  color: #1f0c44;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}
.add-button:hover {
  background-color: #1f0c44;
  color: #fab26e;
  transform: scale(1.05);
}

h2,
h3 {
  color: #1f0c44;
}

.player1 {
  transform: rotateY(180deg);
}

@media screen and (max-width: 550px) {
  form {
    display: flex;
    align-items: center;
  }
  .player1,
  .player2 {
    width: 50vw;
  }
  h3,
  h2 {
    padding: 0 0.5rem 0 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
  }
  .options {
    width: 80vw;
  }
  .title {
    min-width: 90vw;
  }
  h1 {
    font-size: 1.5rem;
  }
}
