body {
  font-family: sans-serif;
  background-color: #f3f0fa;
  margin: 0;
  height: 100vh;
}

.game-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  height: 10vh;
  color: #1f0c44;
}

.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 10vh;
  color: #1f0c44;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}

.input {
  height: 1.5rem;
  width: 20rem;
  outline: none;
}

.username,
.start,
.rock,
.paper,
.scissors {
  height: 1.9rem;
  background-color: #fab26e;
  color: #1f0c44;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.username:hover,
.start:hover,
.rock:hover,
.paper:hover,
.scissors:hover {
  background-color: #1f0c44;
  color: #fab26e;
}

h2,
h3 {
  color: #1f0c44;
}

.player1 {
  transform: rotateY(180deg);
}

@media screen and (min-width: 300px) {
  .match {
    max-width: 100vh;
    max-height: 100vh;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}